<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>CUPCAKE</h1>

  <form id="add-new-cupcake">
    <h2>Add a new cupcake</h2>
    <label>Flavor:
      <input id="flavor">
    </label>

    <label>Size:
      <input id="size">
    </label>

    <label>Rating:
      <input id="rating">
    </label>

    <label>Image URL:
      <input id="image-url">
    </label>

    <button type="submit">Add</button>

  </form>

  <div id="all-cupcakes"></div>



  <script src="http://unpkg.com/jquery"></script>
  <script src="/static/cupcake.js"></script>

</body>

</html>
